#wagerindexitem-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#wagerindexitem-sporttype {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    margin-top: -10px;
}

#wagerindexitem-matchup {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
}

#wagerindexitem-atsign {
    font-weight: 550;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-top: 5px;
}

#wagerindexitem-moneylines {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

#wagerindexitem-mlheader {
    font-weight: 550;
    font-size: 14px;
    margin-top: 5px;
}

#wagerindexitem-spreads {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

#wagerindexitem-spreadheader {
    font-weight: 550;
    font-size: 14px;
    margin-top: 5px;
}