#wagermodal-container {
    position: fixed;
    /* // comment in to add black background 
    height: 100%;
    width: 100%; */
    top: calc(50vh - 250px);
    right: calc(50vw - 500px);
    background-color: rgba(0, 0, 0);
    z-index: 10;
    overflow-x: hidden;
    border-radius: 20px;
}

#wagermodal-createwagercontainer {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgba(66, 92, 244, 0.244);
    border-radius: 20px;
    padding: 20px;
    color: white;
}

#wagermodal-marketcontainer {
    width: 450px;
    margin: 20px;
    padding: 50px;
    background-color: black;
    border-radius: 20px;
}

#wagermodal-marketheader {
    display: flex;
    justify-content: space-around;
}

#wagermodal-orderbook {
    height: 300px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#wagermodal-orderitem {
    display: flex;
    justify-content: space-around;
    background-color: rgba(11, 107, 11, 0.679);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#wagermodal-orderitem:hover {
    background-color: rgba(11, 179, 67, 0.752);
}

#wagermodal-rightside {
    width: 300px;
}

#wagermodal-closebutton {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 50px;
}

#wagermodal-createwagerform {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
}

#wagermodal-createwagerbutton {
    cursor: pointer;
}
